# ─── General ─────────────────────────────────
HEADLESS=true
SCREENSHOTS_DIR=./screenshots
PORT=3000
TAX_RATE=0

# ─── Saucedemo (default) ─────────────────────
SAUCEDEMO_BASE_URL=https://www.saucedemo.com
SAUCEDEMO_USERNAME=standard_user
SAUCEDEMO_PASSWORD=secret_sauce

# ─── ToolShop ────────────────────────────────
TOOLSHOP_BASE_URL=https://practicesoftwaretesting.com
TOOLSHOP_EMAIL=hw.assign.2026@test.com
TOOLSHOP_PASSWORD="Aut0m@tion#Hw2026!"
