BASE_URL=https://www.saucedemo.com
SITE_USERNAME=standard_user
SITE_PASSWORD=secret_sauce
HEADLESS=true
SCREENSHOTS_DIR=./screenshots
PORT=3000
TAX_RATE=0

# ToolShop
TOOLSHOP_BASE_URL=https://practicesoftwaretesting.com
TOOLSHOP_EMAIL=customer@practicesoftwaretesting.com
TOOLSHOP_PASSWORD=welcome01
